<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show factions</title>
</head>

<body>
{{#factions}}
    <h1>{{id}}</h1>
    <h2>{{name}}</h2>
    <h3>{{#race}}
        {{name}}{{/race}}</h3>
{{/factions}}
</body>

</html>